* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.container {
  width: min(100%, 1200px);
  margin: 0 auto;
}

section {
  width: 100%;
  min-height: 100vh;
}

nav {
  margin-top: 20px;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

/* section.hero {
  background-image: url('hero-image.jpg'); /* Add the path to your hero image 
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
} */

/* section {
  background-color: #fff;
  padding: 50px 20px;
  margin: 20px 0; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h2 {
  color: #2c3e50;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* .hero {
  padding: ;
} */